body {
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "Roboto";
}

img {
	display: inline-block;
}

/* Turn off links changing blue and purple */
a {
	color:inherit;
	text-decoration: none;
}
